//primary pallete


  $c-primary-50: #ffe4f3;
  $c-primary-100: #ffb4d5;
  $c-primary-200: #fa84b7;
  $c-primary-300: #f7549a;
  $c-primary-400: #f4267d;
  $c-primary-500: #db0f63;
  $c-primary-600: #ab084d;
  $c-primary-700: #7b0337;
  $c-primary-800: #4b0021;
  $c-primary-900: #1e000d;

//secondary pallete

  $c-secondary-50: #e0f3ff;
  $c-secondary-100: #b8d7fb;
  $c-secondary-200: #8cbdf3;
  $c-secondary-300: #5fa2ec;
  $c-secondary-400: #3587e6;
  $c-secondary-500: #1d6ecc;
  $c-secondary-600: #1355a0;
  $c-secondary-700: #093d73;
  $c-secondary-800: #012547;
  $c-secondary-900: #000d1d;

//warn pallete
$c-warn-50: #ffe6e3;
$c-warn-100: #febbb5;
$c-warn-200: #f88e86;
$c-warn-300: #f46358;
$c-warn-400: #f03729;
$c-warn-500: #d61f0f;
$c-warn-600: #a7160b;
$c-warn-700: #790e07;
$c-warn-800: #4a0702;
$c-warn-900: #1f0000;

//fonts colors
$primary-font-color: #333333;
$secondary-font-color: #666666;

//other colors
$white_c: #fff;
$black_c: #000;
$c_1: #ccc;
$divider_c: #ccc;

//breakpoints
$bp-phone-small: 576px;
$bp-phone: 768px;
$bp-tablet: 991px;
$bp-laptop: 1199px;

//fonts
$default-fs: 16px;
$primary-font-family: "Lexend", sans-serif;

//transition
$primary-transition: all 0.15s ease-in-out;

//box shadow
$primary-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

//border-radius
$primary-radius: 5px;
$secondary-radius: 12px;
$circle-radius: 999px;
$zero-radius: 0;


@mixin smooth-transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}


@mixin box-shadows($box-sh) {
  -webkit-box-shadow: $box-sh;
  -moz-box-shadow: $box-sh;
  box-shadow: $box-sh;
}

