//primary pallete

$c-primary-50: #ffe5fc;
$c-primary-100: #fbb8e9;
$c-primary-200: #f48bd8;
$c-primary-300: #ee5dc8;
$c-primary-400: #e830b6;
$c-primary-500: #cf179d;
$c-primary-600: #a20f7a;
$c-primary-700: #740858;
$c-primary-800: #480335;
$c-primary-900: #1d0015;

//secondary pallete
$c-secondary-50: #fff6da;
$c-secondary-100: #ffe5ad;
$c-secondary-200: #ffd37d;
$c-secondary-300: #ffc24b;
$c-secondary-400: #ffb11a;
$c-secondary-500: #e69700;
$c-secondary-600: #b37600;
$c-secondary-700: #815400;
$c-secondary-800: #4e3200;
$c-secondary-900: #1e1000;

//warn pallete
$c-warn-50: #ffe6e3;
$c-warn-100: #febbb5;
$c-warn-200: #f88e86;
$c-warn-300: #f46358;
$c-warn-400: #f03729;
$c-warn-500: #d61f0f;
$c-warn-600: #a7160b;
$c-warn-700: #790e07;
$c-warn-800: #4a0702;
$c-warn-900: #1f0000;

//fonts colors
$primary-font-color: #333333;
$secondary-font-color: #666666;

//other colors
$white_c: #fff;
$black_c: #000;
$c_1: #ccc;
$divider_c: #ccc;

//breakpoints
$bp-phone-small: 576px;
$bp-phone: 768px;
$bp-tablet: 991px;
$bp-laptop: 1199px;

//fonts
$default-fs: 16px;
$primary-font-family: "Roboto", sans-serif;

//transition
$primary-transition: all 0.15s ease-in-out;

//box shadow
$primary-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

//border-radius
$primary-radius: 5px;
$secondary-radius: 12px;
$circle-radius: 999px;
$zero-radius: 0;


@mixin smooth-transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}


@mixin box-shadows($box-sh) {
  -webkit-box-shadow: $box-sh;
  -moz-box-shadow: $box-sh;
  box-shadow: $box-sh;
}

