.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (max-width: 991px) {
  .animated .animated {
    -webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.delay-400 {
  animation-delay: 0.4s;
}

.main-btn-primary {
  background-color: #cf179d;
  color: #fff;
}
.main-btn-primary:hover {
  background-color: #e61aae;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-primary:active {
  background-color: #da18a6;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-secondary {
  background-color: #ffb934;
  color: #fff;
}
.main-btn-secondary:hover {
  background-color: #ffb01a;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-secondary:active {
  background-color: #ffa801;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-link-primary {
  background: transparent;
  color: #cf179d;
}
.main-btn-link-primary:hover {
  color: #e831b6;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-link-secondary {
  background: transparent;
  color: #e69700;
}
.main-btn-link-secondary:hover {
  color: #e831b6;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn.btn-size {
  width: 100%;
}
.main-btn.btn-size-sm {
  padding: 0.25rem 1rem;
}
.main-btn.btn-size-md {
  padding: 0.5rem 1.25rem;
}
.main-btn.btn-size-lg {
  padding: 1rem 1.5rem;
}
@media (max-width: 991px) {
  .main-btn.btn-size-lg {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
}

.z-index-19 {
  z-index: 19;
}

.z-index-18 {
  z-index: 18;
}

.z-index-17 {
  z-index: 17;
}

.z-index-16 {
  z-index: 16;
}

.z-index-15 {
  z-index: 15;
}

.z-index-14 {
  z-index: 14;
}

.z-index-13 {
  z-index: 13;
}

.z-index-12 {
  z-index: 12;
}

.z-index-11 {
  z-index: 11;
}

.z-index-29 {
  z-index: 29;
}

.z-index-28 {
  z-index: 28;
}

.z-index-27 {
  z-index: 27;
}

.z-index-26 {
  z-index: 26;
}

.z-index-25 {
  z-index: 25;
}

.z-index-24 {
  z-index: 24;
}

.z-index-23 {
  z-index: 23;
}

.z-index-22 {
  z-index: 22;
}

.z-index-21 {
  z-index: 21;
}

.z-index-39 {
  z-index: 39;
}

.z-index-38 {
  z-index: 38;
}

.z-index-37 {
  z-index: 37;
}

.z-index-36 {
  z-index: 36;
}

.z-index-35 {
  z-index: 35;
}

.z-index-34 {
  z-index: 34;
}

.z-index-33 {
  z-index: 33;
}

.z-index-32 {
  z-index: 32;
}

.z-index-31 {
  z-index: 31;
}

.z-index-49 {
  z-index: 49;
}

.z-index-48 {
  z-index: 48;
}

.z-index-47 {
  z-index: 47;
}

.z-index-46 {
  z-index: 46;
}

.z-index-45 {
  z-index: 45;
}

.z-index-44 {
  z-index: 44;
}

.z-index-43 {
  z-index: 43;
}

.z-index-42 {
  z-index: 42;
}

.z-index-41 {
  z-index: 41;
}

.z-index-59 {
  z-index: 59;
}

.z-index-58 {
  z-index: 58;
}

.z-index-57 {
  z-index: 57;
}

.z-index-56 {
  z-index: 56;
}

.z-index-55 {
  z-index: 55;
}

.z-index-54 {
  z-index: 54;
}

.z-index-53 {
  z-index: 53;
}

.z-index-52 {
  z-index: 52;
}

.z-index-51 {
  z-index: 51;
}

.z-index-69 {
  z-index: 69;
}

.z-index-68 {
  z-index: 68;
}

.z-index-67 {
  z-index: 67;
}

.z-index-66 {
  z-index: 66;
}

.z-index-65 {
  z-index: 65;
}

.z-index-64 {
  z-index: 64;
}

.z-index-63 {
  z-index: 63;
}

.z-index-62 {
  z-index: 62;
}

.z-index-61 {
  z-index: 61;
}

.z-index-79 {
  z-index: 79;
}

.z-index-78 {
  z-index: 78;
}

.z-index-77 {
  z-index: 77;
}

.z-index-76 {
  z-index: 76;
}

.z-index-75 {
  z-index: 75;
}

.z-index-74 {
  z-index: 74;
}

.z-index-73 {
  z-index: 73;
}

.z-index-72 {
  z-index: 72;
}

.z-index-71 {
  z-index: 71;
}

.z-index-89 {
  z-index: 89;
}

.z-index-88 {
  z-index: 88;
}

.z-index-87 {
  z-index: 87;
}

.z-index-86 {
  z-index: 86;
}

.z-index-85 {
  z-index: 85;
}

.z-index-84 {
  z-index: 84;
}

.z-index-83 {
  z-index: 83;
}

.z-index-82 {
  z-index: 82;
}

.z-index-81 {
  z-index: 81;
}

.z-index-99 {
  z-index: 99;
}

.z-index-98 {
  z-index: 98;
}

.z-index-97 {
  z-index: 97;
}

.z-index-96 {
  z-index: 96;
}

.z-index-95 {
  z-index: 95;
}

.z-index-94 {
  z-index: 94;
}

.z-index-93 {
  z-index: 93;
}

.z-index-92 {
  z-index: 92;
}

.z-index-91 {
  z-index: 91;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

a, input, textarea:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.br-0 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.no-underline {
  text-decoration: none;
}
.no-underline:hover, .no-underline:active, .no-underline:target, .no-underline:focus, .no-underline:visited {
  text-decoration: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bg-overlay:after {
  content: "";
  background: rgba(47, 53, 66, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.bg-overlay .index {
  z-index: 1;
}

.main-table {
  padding: 16px;
  width: 100%;
}
.main-table .table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-table .table-row .table-cell:nth-child(1) p {
  color: #ccc;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

a {
  color: #cf179d;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, small, strong, ul, li {
  position: relative;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-list li {
  padding: 0 0 4px 0;
}
.main-list li i {
  color: #cf179d;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.9rem;
}
.main-list li span {
  color: #666666;
}
hr {
  background: #ccc;
  margin: 8px 0;
  width: 100%;
}

.ly-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.ly-content {
  flex: 1;
}

.md-box {
  width: 100%;
  overflow: hidden;
}
.md-box .bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.md-card {
  width: 100%;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .md-card {
    margin-bottom: 2rem;
  }
}
.md-card p {
  font-size: 13px;
}

.md-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}
.md-navbar .left-side,
.md-navbar .right-side,
.md-navbar .middle-side {
  width: 100%;
}
.md-navbar .left-side {
  display: flex;
  justify-content: flex-start;
}
.md-navbar .middle-side .navbar-collapse {
  justify-content: center;
}
.md-navbar .right-side {
  display: flex;
  justify-content: flex-end;
}
.md-navbar .navbar-brand img {
  width: 100%;
  height: auto;
  max-height: 24px;
}
.md-navbar ul li.nav-item {
  margin: 0 1rem;
}
.md-navbar ul li.nav-item a {
  letter-spacing: -0.015rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  padding: 0 0.25rem;
  position: relative;
}
.md-navbar ul li.nav-item a:before {
  content: "";
  width: 0;
  height: 2px;
  background: transparent;
  position: absolute;
  bottom: -2px;
  left: 0.25rem;
  transition: width ease 200ms;
}
.md-navbar ul li.nav-item a:hover:before {
  transition: width ease 200ms;
  background: #cf179d;
  width: calc(100% - 0.25rem);
}

a[name] {
  top: -55px;
  position: absolute;
}
@media (max-width: 991px) {
  a[name] {
    top: -80px;
  }
}

.media {
  border-top: 5px solid;
}

/*# sourceMappingURL=main.css.map */
