@charset "UTF-8";

.main-btn {
  &-primary {
    background-color: $c-primary-500;
    color: $white_c;

    &:hover {
      background-color: lighten($c-primary-500, 5%);
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: lighten($c-primary-500, 2.5%);
      @include smooth-transition($primary-transition);
    }
  }

  &-secondary {
    background-color: lighten($c-secondary-500, 15%);
    color: $white_c;

    &:hover {
      background-color: lighten($c-secondary-500, 10%);
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: lighten($c-secondary-500, 5%);
      @include smooth-transition($primary-transition);
    }
  }

  &-link {
    &-primary {
      background: transparent;
      color: $c-primary-500;

      &:hover {
        color: lighten($c-primary-500, 10%);
        text-decoration: none;
        @include smooth-transition($primary-transition);
      }
    }
    &-secondary {
      background: transparent;
      color: $c-secondary-500;

      &:hover {
        color: lighten($c-primary-500, 10%);
        text-decoration: none;
        @include smooth-transition($primary-transition);
      }
    }
  }
  &.btn-size {
    width: 100%;
    &-sm {
      padding: 0.25rem 1rem;
    }
    &-md {
      padding: 0.5rem 1.25rem;
    }
    &-lg {
      padding: 1rem 1.5rem;
      @media (max-width: $bp-tablet) {
        padding: 0.75rem 2rem;
        font-size: 1rem;
      }
    }
  }
}
