@charset "UTF-8";

h1, h2, h3, h4, h5, h6, p, small, strong, ul, li {
  position: relative;
}

//FONT-WEIGHT
//FYI
//f.e.: .fw-400 /// 400 = 400
$font-weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
@each $font-weight in $font-weights {
  .fw-#{$font-weight} {
    font-weight: #{$font-weight}!important;
  }
}
